        <footer class="bg-dark mt-auto">
            <p class="fst-italic text-white py-2 text-center">
                &copyAdrielDevelop2022
            </p>
        </footer>
    
        <script src="./JS/script.js"></script>
    </body>
</html>