<header class="container-fluid bg-dark stick-top">
    <nav class="d-flex justify-content-between flex-column flex-sm-row flex-wrap justify-content-center align-items-center">
        <div class="text-white fs-4">Logo Aqui</div>
        <div>
            <ul class="nav nav-pills">
                <li>
                    <a href="/" class="nav-link text-white" id="home-menu">Home</a>
                </li>
                <li>
                    <a href="/noticias" class="nav-link text-white" id="noticias-menu">Notícias</a>
                </li>
                <li>
                    <a id="admin-menu" href="/admin" class="nav-link text-white">Admin</a>
                </li>
            </ul>
        </div>
        <div></div>
</header>    