<%- include("../commom/header")%>

    <%- include("../commom/menu")%>
    
    <main>
            <div class="bg-light p-5 mb-4">
                <div class="container text-center">
                    <h1>Seja Bem Vindo(a) porra</h1>
                    <p class="lead">
                        Fique por dentro das ultimas notícias no mundo da tecnologia
                    </p>
                </div>
            </div>

            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Titulo da notícia
                                </h5>
                                <p class="card-text">
                                    Conteúdo da notícia
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Data da notícia
                                    </small>
                                </p>
                                <a href="#" class="btn btn-primary">
                                    Saiba Mais
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    <%- include("../commom/footer")%>
