<%- include("../commom/header")%>

    <%- include("../commom/menu")%>
    
    <main>
        <section class="container mt-2 rounded shadow bg-light bg-gradient">
            <div class="p-5">
                <h1 class="mb-5 text-center">As melhores informações para vocês</h1>
                <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem minus veritatis tempore commodi, reiciendis sequi laudantium, quibusdam iure amet illo voluptatibus fugit pariatur expedita laborum dolor quidem voluptatum ad delectus!</p>
                <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem minus veritatis tempore commodi, reiciendis sequi laudantium, quibusdam iure amet illo voluptatibus fugit pariatur expedita laborum dolor quidem voluptatum ad delectus!</p>
                </br>
                <h4>Atualizado 24h</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam doloribus autem, quaerat recusandae assumenda ut exercitationem perspiciatis a sunt, quam expedita officiis et. Quidem quia pariatur consectetur magni molestiae reiciendis.
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum mollitia autem molestias quae, officiis nisi ut nesciunt distinctio similique natus quisquam, provident illum? Minima obcaecati cumque voluptatibus praesentium quam veniam!   
                </p>
                </br>
                <h4>100% verificado</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam doloribus autem, quaerat recusandae assumenda ut exercitationem perspiciatis a sunt, quam expedita officiis et. Quidem quia pariatur consectetur magni molestiae reiciendis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum mollitia autem molestias quae, officiis nisi ut nesciunt distinctio similique natus quisquam, provident illum? Minima obcaecati cumque voluptatibus praesentium quam veniam!   
                </p>
                <h4>Os melhores Profissionais trabalhando para você</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam doloribus autem, quaerat recusandae assumenda ut exercitationem perspiciatis a sunt, quam expedita officiis et. Quidem quia pariatur consectetur magni molestiae reiciendis.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum mollitia autem molestias quae, officiis nisi ut nesciunt distinctio similique natus quisquam, provident illum? Minima obcaecati cumque voluptatibus praesentium quam veniam!   
                </p>
            </div>
        </section>


    </main>

    <%- include("../commom/footer")%>
