<%- include("../commom/header")%>

    <%- include("../commom/menu")%>

    <h1>Todas as Notícias</h1>
        <ul>
            <li>
                <a href="#">
                    Servidor Node.js de Navegação
                </a>
            </li>
            <li>
                <a href="#">
                    Nodemon melhora a qualidade de vida dos Desenvolvedores!
                </a>
            </li>
            <li>
                <a href="#">
                    O EJS faz a redenrização do node.js!
                </a>
            </li>
        </ul>

        <%- include("../commom/footer")%>