<%- include("../commom/header")%>

    <%- include("../commom/menu")%>

    <section class="container bg-light">
        <div class="row">
            <h1 class="mt-5 text-center mb-5">Todas nossas Noticias</h1>
        </div>

        <div class="row mb-5">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Noticia 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat voluptas, maxime distinctio consectetur optio ex dolor consequuntur eius omnis aut cumque nihil maiores. Eaque debitis et reiciendis ipsa porro?</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-outline-primary" target="_blank">Saiba mais</a>
              </div>
            </div>
          </div>  
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Noticia 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat voluptas, maxime distinctio consectetur optio ex dolor consequuntur eius omnis aut cumque nihil maiores. Eaque debitis et reiciendis ipsa porro?</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-outline-primary" target="_blank">Saiba mais</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Noticia 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat voluptas, maxime distinctio consectetur optio ex dolor consequuntur eius omnis aut cumque nihil maiores. Eaque debitis et reiciendis ipsa porro?</p>
              </div>
              <div class="card-footer">
                <a href="#" class="btn btn-outline-primary">Saiba mais</a>
              </div>
            </div>
          </div>
        </div>
      </section>
        <%- include("../commom/footer")%>