<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Tecnologia</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>
    <nav>
        <a href="/">
            Home 
        </a>
        |
        <a href="/noticias">
            Noticias
        </a>
    </nav>

    <h1>Todas as Notícias</h1>
        <ul>
            <li>
                <a href="#">
                    Servidor Node.js de Navegação
                </a>
            </li>
            <li>
                <a href="#">
                    Nodemon melhora a qualidade de vida dos Desenvolvedores!
                </a>
            </li>
            <li>
                <a href="#">
                    O EJS faz a redenrização do node.js!
                </a>
            </li>
        </ul>

        <script src="./JS/script.js"></script>
</body>
</html>